 .Customlogo {
    width: 200px;
    height: auto;
  }

  /* Tablet view (max-width: 1024px) */
  @media (max-width: 1024px) {
    .Customlogo {
      width: 200px;
    }
  }

  /* Mobile view (max-width: 768px) */
  @media (max-width: 768px) {
    .Customlogo {
      width: 200px;
    }
  }